<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anshuman Srivastava</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <form action="/" method="post">
        <h1>IMEI CHECKER </h1>
        <label>Enter IMEI no. : </label><input type="text" name="imei">
        <button type="submit" value="submit">check</button>
    </form>

    <script src="main.js"></script>
</body>

</html>